<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <title>Micro Blog</title>
</head>

<body>
  <!--Navbar-->
  <header class="navbar">
    <div class="navbar__brand">
      <img src="{{ url_for('static', filename='images/blog-solid.svg') }}" alt="Microblog logo" class="navbar__logo">
      <div class="navbar__title">Microblog</div>
    </div>
    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <a href="#" class="navbar__link">Recent</a>
      </li>
      <li class="navbar__navigation-item">
        <a href="#" class="navbar__link">Calendar</a>
      </li>
    </ul>

  </header>
  <main class="main">
    <section>
      <h1 class="main__title">Add new entry</h1>
      <!--Form-->
      <form method="POST" class="form">
        <p class="form__input">
          <label for="content" class="form__label">Entry content:</label>
          <textarea name="content" id="content" class="form__textarea" aria-label="Entry content"></textarea>
        </p>
        <button type="submit" class="form__submit">Add entry</button>
      </form>
    </section>
    <section>
      <h2>Recent posts</h2>
      {% for entry in entries %}
      <article class="entry">
        <div class="entry__header">
          <h3 class="entry__title">{{ entry[0] | truncate (30, true) }}</h3>
          <time class="entry__date" datetime="{{ entry[1]}}">{{ entry[2] }}</time>
        </div>
        <p class="entry__content">
          {{ entry[0] }}
        </p>
      </article>
      {% endfor %}
    </section>
  </main>
  <footer class="footer">
    <div class="footer__content">
      <section class="footer__left">
        <a href="#" class="footer__item">Link 1</a>
        <a href="#" class="footer__item">Link 2</a>
      </section>
      <section class="footer__right">
        <div class="footer__column">
          <a href="#" class="footer__item">Recent</a>
          <a href="#" class="footer__item">Calendar</a>
        </div>
        <div class="footer__column">
          <a href="#" class="footer__item">About</a>
          <a href="#" class="footer__item">How this was made</a>
        </div>
      </section>
    </div>
  </footer>
</body>

</html>