{% extends "base.html" %}
{% block content %}

<section class="add_new">
  <h1 class="add_new__title">Add new section</h1>
  <div class="btn__add__holder">
    <a href="{{ url_for('add_post') }}" class="btn__add_new">Add</a>
  </div>
</section>
<section class="recent__posts">
  <h2>Recent posts</h2>
  {% for entry in entries %}
  <article class="entry">
    <div class="entry__header">
      <h3 class="entry__title">{{ entry[0] | truncate (30, true) }}</h3>
      <time class="entry__date" datetime="{{ entry[1] }}">{{ entry[2] }}</time>
    </div>
    <p class="entry__content">
      {{ entry[0] }}
    </p>
  </article>
  {% endfor %}
</section>
{% endblock %}